[submodule "gateway"]
	path = gateway
	url = https://github.com/beuthbot/gateway.git
[submodule "registry"]
	path = registry
	url = https://github.com/beuthbot/registry.git
[submodule "deconcentrator-js"]
	path = deconcentrator-js
	url = https://github.com/beuthbot/deconcentrator-js.git
[submodule "rasa"]
	path = rasa
	url = https://github.com/beuthbot/rasa.git
[submodule "weather_microservice"]
	path = weather_microservice
	url = https://github.com/beuthbot/weather_microservice.git
[submodule "mensa_microservice"]
	path = mensa_microservice
	url = https://github.com/beuthbot/mensa_microservice.git
[submodule "database"]
	path = database
	url = https://github.com/beuthbot/database.git
[submodule "database_microservice"]
	path = database_microservice
	url = https://github.com/beuthbot/database_microservice.git
